#pdo-navbar {
  .navbar-brand {
    color: white;
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }

  .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
    height: auto;
    box-shadow: none;

    &:focus {
      color: #495057;
      background-color: #fff;    
      outline: 0;    
    }
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);

    &:focus {
      border-color: transparent;
      box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
  }

  .navbar-right {
    min-width: 150px;
  }
  
  .nav-link {
    color: rgba(255,255,255,.5);
    padding: .5rem .5rem;
  }  
}