.auth-modal {

  .modal-header {
    background-color: #00B7FF;
    color: white;
    .modal-title {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }

  .modal-title {
    font-weight: 700 !important;
    width: 100%;
  }

  .modal-footer {
    justify-content: center;
  }
}